.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {

    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
    width: 650px;
    margin: auto;
}

.board button {
    
    height: 200px;
    aspect-ratio: 1/1;
    font-size: xx-large;
}

#turn_header {
    display: flex;
    flex-direction: column;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-size: 1,5em;
    gap: 20px
}

.playerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerForm > * {
    padding-bottom: 20px;
}

#submit_btn,
#reset_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 150px;
    
}